[alias]
  logs = log --graph --abbrev-commit --decorate --format=format:'%C(cyan)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(yellow)%d%C(reset)' --all
  s = status
  ch = checkout
  d = diff
  ignored = !git ls-files -v | grep "^[[:lower:]]"

[user]
	name = leaf
	email = leaf@korpay.com
[core]
	autocrlf = input
[gc]
	autoDetach = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
